<!--
Must have a section for the post’s post title.
Must have a section for the post’s post author
Must have a section for the post’s post creation time.
Must have a section for the post’s image
-->



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image post</title>
    <link rel="stylesheet" type="text/css" href="/public/css/post_style.css">
</head>


    <!-- original
    <div id="post-container" class="flex-container">
        <img id="image-post-image" src="/{{currentPost.photopath}}" >
            <div id="image-post-image" >
                <div id="info"> <!-- src="/{{currentPost.photopath}}"
                    <header  id="image-post-title">
                        <h2 id="image-post-title-text">{{currentPost.title}}</h2>
                    </header>
                    <div id="image-post-author" class="info-tags">{{currentPost.username}}</div>
                    <div id="image-post-date" class="info-tags">{{currentPost.createdAt}}</div>
                    <div id="image-post-desc" class="info-tags" style="display: grid;justify-content: center;">{{currentPost.description}}</div>
                </div>
                 <div id="message">
                     <!--{{log this}} for frontend test
                        <header id="comment-title">
                            <h2>Comments</h2>
                        </header>
                        <div id="message-list">
                        <textarea id="comment-box-text"></textarea>
                        <i id="comment-box-button" class="fa fa-comment" aria-hidden="true" style="text-align: center;"></i>
                        </div>
                </div>
            </div>
        </div>
            
            
    </div> -->

    <!--<img src="img post.jp">-->
<body>
    <div id="post-container">
            <div id="photo-container">
                <div id="post-title" class="display-6 font-weight-bold">{{currentPost.title}}</div>
                <div id="post-info">
                    <p><span class= "form-label">Posted by:</span> <span id="post-author"> {{currentPost.username}}</p>
                    <p><span class= "form-label">Posted at:</span> <span id="post-date"> {{currentPost.createdAt}}</p>
                </div>
                <div id="post-description" class="lead"> {{currentPost.description}}</div>
                <img id="post-image" class="img-fluid" src="/{{currentPost.photopath}}" alt="A photo should have been here">
            </div>
        <div id="comment-container">
            <div id="messages">
                {{#each currentPost.comments}}
                    {{> comment this}}
                {{/each}}
            </div>
        </div>
        <div id="comment-box">
            <textarea id="comment-box-text" class="form-control"  aria-label="With textarea"
                placeholder="Enter Comment Here!"></textarea>
            <span id="Comment-box-button" class="input-group-text"><svg width="lem" height="lem" viewBox="0 0 16 16"
            class="bi bi-chat-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
            d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.411.9 2.533a1 1 0 0 0 1.6 011.9-2.533a1
            1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            </svg></span>
        </div>
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', (event)=>{
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
                postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });
    function addMessage(data){
        let template = document.createElement('template');
        template.innerHTML =
            `<div id="message-${data.commentId}">
                <strong class="author-text">@${data.username}</strong>
                <span class="date-posted">${new Data().toLocaleString()}</span>
                <div class="comment-text">${data.comment}</div>
            </div>`;
    document.getElementById('message').firstChild.before(template.content.firstChild);
    }
    document.getElementById('comment-box-button').onclick = (event) =>{
        //console.log('clicked');
        let commentText = document.getElementById('comment-box-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if(!commentText){
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
        },
        body: JSON.stringify({
            comment:commentText,
            postId,postId
        })
    }
    fetch('/comments/create', fetchOptions)
        .then((response) => response.json())
        .then((data) => {
            if(data.code == 1){
                addMessage(data);
            }else{
                addFlashFromFrontEnd(data.message, data.status);
            }
        })
        .catch(err => console.log(err));
    }

    

</script>
    
