<!--this file is template for the index page-->
<h1>{{title}}</h1>
<p>Hello {{ name }},Welcome to {{title}}</p>





{{log this}} <!-- this show all the information attached to the template in terminal -->

 <!--{{#if tasks}}
    <p>You have stuff todo:</p> -->
<!--can write the html here-->
<!--
<ul>
    {{#each tasks}}
    <li>{{this}}</li>
    {{/each}} --> 






    {{!-- this code replace codes below--}}
    <!--
    {{#each tasks}} {{!--loop--}}
        <li>{{this}}</li> {{!--li is the first iteration and "this" is the item--}}
    {{/each }}-->
    



    <!-- below
    <li>Coding</li>
    <li>Sleeping</li>
    <li>maybe eat</li>
    <li>maybe life</li> -->
<!--
</ul>
{{/if}} -->